@import "tailwindcss";

:root {
    --primary-color: #191C24;
    --primary-darker-color: #0F1015;
    --primary-lighter-color: #22242E;

    --code-block-color: #2D2D2D;

    --text-title: #434343;

    --light-purple: #6c7293;
}

body {
    background-color: #100f0f;
    font-family: 'Roboto', sans-serif;
}

.text-light-purple {
    color: var(--light-purple);
}

.bg-light-purple {
    background-color: var(--light-purple);
}

.bg-low-opacity {
    background-color: #00000080;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-primary-darker-color {
    background-color: var(--primary-darker-color);
}

.bg-primary-lighter-color {
    background-color: var(--primary-lighter-color);
}

.bg-code-block {
    background-color: var(--code-block-color);
}

.hover\:bg-primary-darker-color:hover {
    background-color: var(--primary-darker-color);
}

.hover\:bg-primary-lighter-color:hover {
    background-color: var(--primary-lighter-color);
}

.border-primary-color {
    border-color: var(--primary-color);
}

.border-primary-darker-color {
    border-color: var(--primary-darker-color);
}

.border-primary-lighter-color {
    border-color: var(--primary-lighter-color);
}

.text-title {
    font-family: "Syncopate", sans-serif;
}

h1 {
    font-weight: bold;
    color: white;
}

.code-block {
    background-color: var(--color-stone-700);
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #FFFFFF;
    font-size: 0.875rem;
}

textarea:focus {
  outline: none;
  border: none;
}

.font-monaco {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
}

.rule-keyword {
    color: #569cd6;
    font-weight: bold;
}

.rule-action {
    color: #ce9178;
}

.rule-resource {
    color: #40994c;
}

/*Checkbox*/
.checkbox-wrapper-2 {
    display: flex;
}

.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #4c5069;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #696f91;
    transition-duration: 0s;
    cursor: pointer;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #272936;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: var(--primary-darker-color);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}