@import "tailwindcss";

:root {
    --primary-color: #404B5D;

    --light-gray: #EBEFF0;

    --text-color: #657179;

    --code-block-color: #373c43;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;

    font-weight: 300;

    color: var(--text-color);
    border-color: var(--text-color);
}


h1 {
    font-size: 20px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

span,
p,
label,
a,
button,
td,
th,
input,
select {
    font-size: 14px;
}

svg {
    color: var(--text-color);
}

.text-color {
    color: var(--text-color);
}

.bg-low-opacity {
    background-color: #00000080;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-code-block {
    background-color: var(--code-block-color);
}

.border-primary-color {
    border-color: var(--primary-color);
}

.text-title {
    font-family: "Syncopate", sans-serif;
}

.code-block {
    background-color: var(--color-stone-700);
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--color-gray-700);
    font-size: 14px;
}

textarea:focus {
    outline: none;
    border: none;
}

.font-monaco {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
}

.rule-keyword {
    color: #569cd6;
    font-weight: bold;
}

.rule-action {
    color: #ce9178;
}

.rule-resource {
    color: #40994c;
}

/*Checkbox*/

.checkbox {
    appearance: none;
    background-color: var(--light-gray);
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox,
.checkbox::after {
    transition: all 100ms ease-out;
}

.checkbox::after {
    background-color: white;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

input[type=checkbox] {
    cursor: default;
}

.checkbox:hover {
    background-color: var(--light-gray);
    transition-duration: 0s;
    cursor: pointer;
}

.checkbox:checked {
    background-color: var(--primary-color);
}

.checkbox:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox:checked:hover {
    background-color: var(--primary-color);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}