@import "tailwindcss";

:root {
    --primary-color: #1E1F26;
    --primary-darker-color: #16161b;
    --primary-lighter-color: #474758;

    --text-title: #434343;
}

.bg-low-opacity {
    background-color: #00000080;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-primary-darker-color {
    background-color: var(--primary-darker-color);
}

.hover\:bg-primary-darker-color:hover {
    background-color: var(--primary-darker-color);
}

.hover\:bg-primary-lighter-color:hover {
    background-color: var(--primary-lighter-color);
}

.border-primary-color {
    border-color: var(--primary-color);
}

.border-primary-darker-color {
    border-color: var(--primary-darker-color);
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-title);
}

.code-block {
    background-color: var(--color-stone-700);
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

.font-monaco {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
}

.rule-keyword {
    color: #569cd6;
    font-weight: bold;
}

.rule-action {
    color: #ce9178;
}

.rule-resource {
    color: #40994c;
}

/*Checkbox*/
.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: var(--primary-color);
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: var(--primary-darker-color);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
    -webkit-text-fill-color: white;
}