name: Build All

on: [workflow_dispatch]

jobs:
  test-ui:
    name: Test UI
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '22'
      - run: cd iara-ui/
      - run: npm test

  test-server:
    name: Test Server
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 21
          architecture: x64
      - run: cd iara-server/ 
      - run: ./gradlew test

  build:
    name: Build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '22'
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 21
          architecture: x64
      - run: ./build.sh
    
