name: Build Server

on: [workflow_dispatch]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 21
          architecture: x64
      - run: cd iara-server/ 
      - run: ./gradlew test

  build:
    name: Build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 21
          architecture: x64
      - run: cd iara-server/ 
      - run: ./gradlew clean build -x test
    
