name: Github Exemplo

on: [workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '22'
      - uses: actions/setup-java@v2
        with:
          java-version: 21
          architecture: x64
      - run: ./build.sh
    
